{{define "deny"}}
<html>
	<body>
		<h1>Access Denied</h1>
		<h2>{{.Request.Host}} is not in the whitelist.</h2>
		{{range $_, $path := paths .Request.URL.Path}}
			<a href="http://proxy:9000/add?url={{$.Request.URL}}&host={{$.Request.Host}}&match=false&path={{$path}}">Add {{$.Request.Host}}{{$path}}</a>
		{{end}}
		<a href="http://proxy:9000/add?url={{$.Request.URL}}&host={{$.Request.Host}}&match=false">Add {{$.Request.Host}}</a>
		{{range $_, $root := rootDomains .Request.Host}}
			<a href="http://proxy:9000/add?url={{$.Request.URL}}&host={{$root}}&match=true">Add *.{{$root}}</a>
		{{end}}
	</body>
</html>
{{end}}

{{define "error"}}
<html>
	<body>
		<h1>Error</h1>
		<h2>Error adding site: {{.Error}}</h2>
	</body>
</html>
{{end}}

{{define "/list"}}
<html>
	<body>
		<h1>Recent blocked sites</h1>
		{{range $url := .List}}
			<p><h4>{{$url}}</h4>
				{{range $_, $path := paths $url.Path}}
					<a href="http://proxy:9000/add?url={{urlquery $url}}&host={{urlquery $url.Host}}&match=false&path={{urlquery $path}}">Add {{$url.Host}}{{$path}}</a>
				{{end}}
				<a href="http://proxy:9000/add?url={{urlquery $url}}&host={{urlquery $url.Host}}&match=false">Add {{$url.Host}}</a>
				{{range $_, $root := rootDomains $url.Host}}
					<a href="http://proxy:9000/add?url={{urlquery $url}}&host={{urlquery $root}}&match=true">Add *.{{$root}}</a>
				{{end}}
			</p>
		{{end}}
	</body>
</html>
{{end}}

{{define "/current"}}
<html>
	<body>
		<h1>All allowed sites</h1>
		<table>
			<tr><th>Host</th><th>Match Subdomains</th><th>Path</th><th>Creator</th><th>Created</th></tr>
			{{range .List}}
				<tr><td>{{.Host}}</td><td>{{.MatchSubdomains}}</td><td>{{.Path}}</td><td>{{.Creator}}</td><td>{{.Created}}</td></tr>
			{{end}}
		</table>
	</body>
</html>
{{end}}

{{define "/auth"}}
<html>
	<body>
		<h1>Please authenticate to add to the whitelist</h1>
		<table>
			<tr><th>Host</th><th>Match Subdomains</th><th>Path</th></tr>
			<tr><td>{{.Host}}</td><td>{{.MatchSubdomains}}</td><td>{{.Path}}</td></tr>
		</table>
		<form action="/auth" method="post">
			<input type="hidden" name="host" value="{{.Host}}"/>
			<input type="hidden" name="match" value="{{.MatchSubstring}}"/>
			<input type="hidden" name="path" value="{{.Path}}"/>
			<input type="hidden" name="url" value="{{.URL}}"/>
			<p>User: <input type="text" name="user" value=""/></p>
			<p>Pass: <input type="password" name="pass" value=""/></p>
			<input type="submit">Login</input>
		</form>
	</body>
</html>
{{end}}
