{{define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.}}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">		
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">		

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container-fluid">
{{end}}

{{define "footer"}}
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
{{end}}

{{/*
	whitelist has .Path .Host .URL .Redirect and .Durations
	URL is not displayed, only passed on to /add
	TODO: .Redirect is a boolean defining whether the client code should follow the redirect response or ignore it (ajax)
*/}}
{{define "whitelist"}}
	{{$paths := paths .Path}}
	{{if $paths}}
		<div class="panel panel-primary">
			<div class="panel-heading">Whitelist by path</div>
			<div class="panel-body">
				<ul class="list-group">
				{{range $_, $path := $paths}}
					<li class="list-group-item">
						{{range $dur := $.Durations}}
							<a class="btn btn-{{$dur.S}} btn-xs" href="http://proxy:9000/add?url={{$.URL}}&host={{$.Host}}&match=false&path={{$path}}&duration={{$dur.D}}">{{$dur.N}}</a>
						{{end}}
					{{$.Host}}{{$path}}</li>
				{{end}}
				</ul>
			</div>
		</div>
	{{end}}
	<div class="panel panel-info">
		<div class="panel-heading">Whitelist by host</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					{{range $dur := $.Durations}}
						<a class="btn btn-{{$dur.S}} btn-xs" href="http://proxy:9000/add?url={{$.URL}}&host={{$.Host}}&match=false&duration={{$dur.D}}">{{$dur.N}}</a>
					{{end}}
				{{.Host}}</li>
			</ul>
		</div>
	</div>
	<div class="panel panel-danger">
		<div class="panel-heading">Whitelist by wildcard</div>
		<div class="panel-body">
			<ul class="list-group">
				{{range $_, $root := rootDomains .Host}}
					<li class="list-group-item">
						{{range $dur := $.Durations}}
							<a class="btn btn-{{$dur.S}} btn-xs" href="http://proxy:9000/add?url={{$.URL}}&host={{$root}}&match=true&duration={{$dur.D}}">{{$dur.N}}</a>
						{{end}}
					*.{{$root}}</li>
				{{end}}
			</ul>
		</div>
	</div>
{{end}}

{{define "deny"}}
	{{template "header" "Access Denied"}}
		<h1>Access Denied</h1>
		<h2>{{.Request.Host}} is not in the whitelist.</h2>
		{{template "whitelist" makeWhitelistArgs .Request.URL.Path .Request.Host .Request.URL true}}
	{{template "footer" .}}
{{end}}

{{define "error"}}
<html>
	<body>
		<h1>Error</h1>
		<h2>Error adding site: {{.Error}}</h2>
	</body>
</html>
{{end}}

{{define "/list"}}
	{{template "header" "Recent blocked sites"}}
	<h1>Recent blocked sites</h1>
	{{range $referer, $urls := .List}}
		<div class="well">
			{{if $referer}}
				<div class="row">
					<span class="label label-primary">Referer</span> {{$referer}}
				</div>
			{{end}}
			{{range $_, $url := $urls}}
				<div class="row">
					<span class="label label-{{if $referer}}info{{else}}success{{end}}">Requested</span>  {{$url}}
				</div>
				{{template "whitelist" makeWhitelistArgs $url.Path $url.Host $url false}}
			{{end}}
		</div>
	{{end}}
	{{template "footer"}}
{{end}}

{{define "/current"}}
<html>
	<body>
		<h1>All allowed sites</h1>
		<table>
			<tr><th>Host</th><th>Match Subdomains</th><th>Path</th><th>Creator</th><th>Created</th><th>Expires</th></tr>
			{{range .List}}
				<tr>
					<td>{{.Host}}</td>
					<td>{{.MatchSubdomains}}</td>
					<td>{{.Path}}</td>
					<td>{{.Creator}}</td>
					<td>{{.Created}}</td>
					<td>{{if .Created.Equal .Expires}}Never{{else}}{{.Expires}}{{end}}</td>
				</tr>
			{{end}}
		</table>
	</body>
</html>
{{end}}

{{define "/auth"}}
<html>
	<body>
		<h1>Please authenticate to add to the whitelist</h1>
		<table>
			<tr><th>Host</th><th>Match Subdomains</th><th>Path</th><th>Duration</th></tr>
			<tr><td>{{.Host}}</td><td>{{.MatchSubdomains}}</td><td>{{.Path}}</td><td>{{.Duration}}</td></tr>
		</table>
		<form action="/auth" method="post">
			<input type="hidden" name="host" value="{{.Host}}"/>
			<input type="hidden" name="match" value="{{.MatchSubstring}}"/>
			<input type="hidden" name="path" value="{{.Path}}"/>
			<input type="hidden" name="url" value="{{.URL}}"/>
			<input type="hidden" name="url" value="{{.Duration}}"/>
			<p>User: <input type="text" name="user" value=""/></p>
			<p>Pass: <input type="password" name="pass" value=""/></p>
			<input type="submit">Login</input>
		</form>
	</body>
</html>
{{end}}
