{{define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.}}</title>
  </head>
  <body>
	<div class="container-fluid">
{{end}}

{{define "footer"}}
			<a href="https://{{proxyHostname}}"><span class="label label-primary">Recent Blocks</span></a>
			<a href="https://{{proxyHostname}}/current"><span class="label label-success">Current Whitelist</span></a>
			<a href="https://{{proxyHostname}}/network"><span class="label label-danger">Outbound Network Activity</span></a>
		</div>
	</body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://{{proxyHostname}}/js/jquery.min.js"></script>
	<script type="text/javascript">
	    $(document).ready(function(){
			console.log("in ready func")
	            if (document.createStyleSheet){
	                document.createStyleSheet('https://{{proxyHostname}}/js/bootstrap.min.css');
					document.createStyleSheet('https://{{proxyHostname}}/js/bootstrap-theme.min.css');
	            } else {
	                $("head").append($("<link rel='stylesheet' href='https://{{proxyHostname}}/js/bootstrap.min.css' type='text/css' media='screen' />"));
					$("head").append($("<link rel='stylesheet' href='https://{{proxyHostname}}/js/bootstrap-theme.min.css' type='text/css' media='screen' />"));
	            }
		    }
		);
	</script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://{{proxyHostname}}/js/bootstrap.min.js"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://{{proxyHostname}}/js/html5shiv.min.js"></script>
      <script src="https://{{proxyHostname}}/js/respond.min.js"></script>
    <![endif]-->
</html>
{{end}}

{{/*
	whitelist has .Path .Host .URL .Redirect and .Durations
	URL is not displayed, only passed on to /add
	TODO: .Redirect is a boolean defining whether the client code should follow the redirect response or ignore it (ajax)
*/}}
{{define "whitelist"}}
	{{$paths := paths .Path}}
	{{if $paths}}
		<div class="alert alert-success">Whitelist by path</div>
		<ul class="list-group">
		{{range $_, $path := $paths}}
			<li class="list-group-item">
				{{range $dur := $.Durations}}
					<a class="btn btn-{{$dur.S}} btn-xs" href="https://{{proxyHostname}}/add?url={{$.URL}}&host={{$.Host}}&match=false&path={{$path}}&duration={{$dur.D}}">{{$dur.N}}</a>
				{{end}}
			{{$.Host}}{{$path}}</li>
		{{end}}
		</ul>
	{{end}}
	<div class="alert alert-info">Whitelist by host</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{range $dur := $.Durations}}
				<a class="btn btn-{{$dur.S}} btn-xs" href="https://{{proxyHostname}}/add?url={{$.URL}}&host={{$.Host}}&match=false&duration={{$dur.D}}">{{$dur.N}}</a>
			{{end}}
		{{.Host}}</li>
	</ul>
	<div class="alert alert-danger">Whitelist by wildcard</div>
	<ul class="list-group">
		{{range $_, $root := rootDomains .Host}}
			<li class="list-group-item">
				{{range $dur := $.Durations}}
					<a class="btn btn-{{$dur.S}} btn-xs" href="https://{{proxyHostname}}/add?url={{$.URL}}&host={{$root}}&match=true&duration={{$dur.D}}">{{$dur.N}}</a>
				{{end}}
			*.{{$root}}</li>
		{{end}}
	</ul>
{{end}}

{{define "deny"}}
	{{template "header" "Access Denied"}}
		<h1>Access Denied</h1>
		<h2>{{.Request.Host}} is not in the whitelist from IP {{.Request.RemoteAddr}}.</h2>
		{{template "whitelist" makeWhitelistArgs .Request.URL.Path .Request.Host .Request.URL true}}
	{{template "footer" .}}
{{end}}

{{define "error"}}
<html>
	<body>
		<h1>Error</h1>
		<h2>Error adding site: {{.Error}}</h2>
	</body>
</html>
{{end}}

{{define "/list"}}
	{{template "header" "Recent blocked sites"}}
	<h1>Recent blocked sites</h1>
	{{range $outindex, $item := .List}}
		<div class="well">
			{{if $item.Referer}}
				<span class="label label-primary">Referer</span> {{$item.Referer}}
			{{else}}
				<span class="label label-success">No Referer</span>
			{{end}}
			<div class="panel-group" id="accordion{{$outindex}}" role="tablist" aria-multiselectable="true">
				{{range $inindex, $url := $item.Sites}}
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading{{$outindex}}in{{$inindex}}">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion{{$outindex}}" href="#collapse{{$outindex}}in{{$inindex}}" aria-expanded="true" aria-controls="collapse{{$outindex}}in{{$inindex}}">
									<span class="label label-{{if $item.Referer}}info{{else}}success{{end}}">Requested</span>{{$url}}
								</a>
							</h4>
						</div>
						<div id="collapse{{$outindex}}in{{$inindex}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$outindex}}in{{$inindex}}">
							<div class="panel-body">
								{{template "whitelist" makeWhitelistArgs $url.Path $url.Host $url false}}
							</div>
						</div>
					</div>
				{{end}}
			</div>
		</div>
	{{end}}
	{{template "footer" .}}
{{end}}

{{define "/current"}}
<html>
	{{template "header" "Currently allowed sites"}}
		<h1>Currently allowed sites</h1>
		<table>
			<tr><th>Host</th><th>Match Subdomains</th><th>Path</th><th>Creator</th><th>Created</th><th>Expires</th></tr>
			{{range .List}}
				<tr>
					<td>{{.Host}}</td>
					<td>{{.MatchSubdomains}}</td>
					<td>{{.Path}}</td>
					<td>{{.Creator}}</td>
					<td>{{.Created}}</td>
					<td>{{if .Created.Equal .Expires}}Never{{else}}{{.Expires}}{{end}}</td>
				</tr>
			{{end}}
		</table>
	{{template "footer" .}}
</html>
{{end}}

{{define "/network"}}
<html>
	{{template "header" "Recent Network Traffic"}}
		<h1>Recent Network Traffic</h1>
		{{if .Header}}<h2>{{.Header}}</h2>{{end}}
		<table>
			<tr><th>Entry</th></tr>
			{{range .List}}
				<tr><td>{{.}}</td></tr>
			{{end}}
		</table>
	{{template "footer" .}}
</html>
{{end}}

{{define "/auth"}}
<html>
	<body>
		{{if .Error}}<h1>{{.Error}}</h1>{{end}}
		<table>
			<tr><th>Host</th><th>Match Subdomains</th><th>Path</th><th>Duration</th></tr>
			<tr><td>{{.Host}}</td><td>{{.MatchSubdomains}}</td><td>{{.Path}}</td><td>{{.Duration}}</td></tr>
		</table>
		<form action="/auth" method="post">
			<input type="hidden" name="host" value="{{.Host}}"/>
			<input type="hidden" name="match" value="{{.MatchSubstring}}"/>
			<input type="hidden" name="path" value="{{.Path}}"/>
			<input type="hidden" name="url" value="{{.URL}}"/>
			<input type="hidden" name="url" value="{{.Duration}}"/>
			<p>User: <input type="text" name="user" value=""/></p>
			<p>Pass: <input type="password" name="pass" value=""/></p>
			<input type="submit">Login</input>
		</form>
	</body>
</html>
{{end}}
